<html>
  <head>
    <script src="create.js"></script>
    <link rel="stylesheet" href="create.css">
    <title>Create</title>
  </head>
  <body>
    <h1>Pastel Avisen</h1>
    <h2>Create user</h2>      
    <form id="createUser">
      <div>
            <label>Email:</label>
            <input name="email" placeholder="Email" id="email">
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" placeholder="password" id="password">
        </div>
<input value="Create user" type="submit"/>
</form>
<div>
 <a class="link" href="./login.html">Or go directly to login</a>
    </div>
  </body>
</html>


