<html lang="en">
<link rel="stylesheet" href="forside.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastel Avisen</title>
</head>
<h1 id="h1">Pastel Avisen</h1>
<h2 id="h2">Danmarks bedste formidler af salg og køb mellem private</h2>
<body>
    <div class="varer">
    <p>Elektronik</p>
    <p>Hvidevarer</p>
    <p>Tøj</p>
    <p>Hælervarer</p>
    <p>Sportsudstyr</p>
</div>
<div class="opret"><h1>Opret bruger</h1>
<form> 

    <input type="email" class="input-box" placeholder="Din email">
    <input type="password" class="input-box" placeholder="Dit password">
    <button>Opret bruger</button>
</form>

</Div>
<Div class="eller">
    <h1>Eller</h1>
    <h1>Login med eksisterende bruger</h1>
    <form>
    <input type="email" class="input-box" placeholder="Din Email">
    <input type="password" class="input-box" placeholder="Dit password">
    <button>Login</button>
    
    </form>
</div>  
</body>
</html>