<html>
  <head>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1>Pastel Avisen</h1>
     
    <div class="navbar">
        <a class="matter" href="login.html"></a>
        <a class="matter" href="profil.html">My profile</a>
        <input id="Search" type="text" placeholder="Search">
        <h2>Hælervarer</h2>
        <h2>Tøj</h2>
        <h2>Elektronik</h2>
      </div>
    <form id="deleteUser">
      <input id="delete" value="Delete User" type="submit" />
     
    </form>

  </body>
